.counter-container
{
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
}

button
{
  border: none;
  margin: 10px;
  font-size: 2rem;
  background-color: hsl(180, 100%, 40%);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-family: SF Pro Display;
}
button:hover
{
  background-color: hsl(180, 100%, 20%);
}



.counter
{
  font-size: 2rem;
  font-family: SF Pro Display;
  background-color: hsla(0, 0%, 50%, 0.378);
  width: 100px;
  text-align: center;
  border: 1px solid red;
  font-weight: bold;

}